body {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	display:block;
	padding-top: 0px;
	padding-left:24px;
	padding-right: 24px;


}

h1 {
    font-family: arial;
    font-size: 35px;
}

.container {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.draggable {
	position: absolute !important;
}

.draggable-item:hover,
.draggable:hover {
	cursor: pointer;
}

.task {
	border:1px solid #000;
	width: 200px;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
}

#add-task {
	position: fixed;
	bottom: 30px;
	left: 40px;
	background: url(images/plus.png) no-repeat;
	height: 39px;
	width: 39px;
	border: none !important;
	outline:none;
}

.modal-footer {
    margin-top: 0px!important;
}

.modal-header {
    background-color: #3578B1;
    color: white;
}

.modal-header .close {
    color: white!important;
    opacity: 1!important;
}

.developer {
    display: block;
    width: 300px;
    height: 90%;
    float: right;
    margin-right: 20px;
}

.panel-body {
    height: 300px;
    padding: 0px;
}
.sortable {
    height: 290px;
    width: 100%;
    margin:0;

}
.sortable div {
    margin-left:2px;
    margin-right:2px;
    display :block;
    width: auto;
    height: 50px;
    border: 1px solid black;
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    text-align: left;
    padding-top: 13px;
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.draggable-item {
    display :block;
    padding-top: 13px;
    padding-left: 30px;
    width: 294px !important;
    height: 50px !important;
    border: 1px solid #91918D;
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    text-align: left;
}
.ui-state-default {
    background-image:none;
}
.ui-state-hover {
    background-image: none;
    background-color:#FABBAC!important;
}
.container.ui-state-hover {
    background: none!important;
    border: none;
}
.round-corner {
        -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.attLogo {
  width: 169px;
  height: 66px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  display: inline-block;
  border-bottom: 1px solid #eee;
  margin-right: 75px;
}

.officeLogo {
  width: 546px;
  height: 56px; 
  background-repeat: no-repeat;
  display: inline-block;
}

#bush .officeLogo { 
  background-image: url("images/sf_office_header.png"); 
}

#paloAlto .officeLogo { 
  background-image: url("images/palo_alto_office_header.png");
}

.page-header {
	border-bottom: none !important;
}


.panel-title span {
  width: 20px;
  height: 20px;
  border-radius: 10px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  float: right;
}

.ju {
	 background-image: url("images/ju.jpg");
}

.kenny {
	 background-image: url("images/kenny_icon.jpg");
}

.teck {
	 background-image: url("images/teck.jpg");
}

.dave {
	 background-image: url("images/dave.jpg");
}



/*
.modal-dialog {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 30%;
}
*/
