body {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	display:block;
	padding-top: 0px;
	padding-left:24px;
	padding-right: 24px;


}

h1 {
    font-family: arial;
    font-size: 35px;
}

.container {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.draggable {
	position: absolute !important;
}

.draggable:hover {
	cursor: pointer;
}

.task {
	border:1px solid #000;
	width: 200px;
	margin: 10px;
	padding: 5px;
	border: 1px solid black;
}

#add-task {
    position: fixed;
    bottom: 30px;
    left: 40px;
}
.modal-footer {
    margin-top: 0px!important;
}

.modal-header {
    background-color: #3578B1;
    color: white;
}

.modal-header .close {
    color: white!important;
    opacity: 1!important;
}

.developer {
    display: block;
    width: 300px;
    height: 90%;
    float: right;
    margin-right: 20px;
}

.panel-body {
    height: 300px;
    padding: 0px;
}
.sortable {
    height: 290px;
    width: 100%;
    margin:0;

}
.sortable div {
    margin-left:2px;
    margin-right:2px;
    display :block;
    width: auto;
    height: 50px;
    border: 1px solid black;
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    text-align: left;
    padding-top: 13px;
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.draggable-item {
        display :block;
    padding-top: 13px;
    padding-left: 30px;
    width: 294px;
    height: 50px;
    border: 1px solid #91918D;
    background-color: #F2F2F2;
    font-size: 20px;
    line-height: 20px;
    vertical-align: bottom;
    text-align: left;
}
.ui-state-default {
    background-image:none;
}
.ui-state-hover {
    background-image: none;
    background-color:#FABBAC!important;
}
.container.ui-state-hover {
    background: none!important;
    border: none;
}
.round-corner {
        -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
/*
.modal-dialog {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 30%;
}
*/